html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
    /* border: 1px solid red; */
}


/* dark-mode test */

.dark_mode {
    background-color: rgb(21, 21, 21);
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark_mode .desktop_nav li {
    /* background-color: rgba(134, 134, 134, 0.182); */
    border-radius: 10px;
}

.dark_mode .card_container h2 {
    color: black;
}

.dark_mode .dark_mode_button {
    filter: invert(100%);
}


/* HEADER AND NAV */

#nav_toggle {
    display: none;
}

.modal_menu {
    display: none;
}

header,
footer {
    background-color: rgba(102, 76, 76, 0.947);
    padding: 1rem;

}

header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    color: white;
    z-index: 1000;
    flex-wrap: wrap;
}

.logo-link {
    margin-left: 2.1rem;
    text-decoration: none;
    color: white;
    transition: font-size 0.3s ease;
}

.logo-link:hover {
    font-size: 1.7rem;
}


.desktop_nav {
    list-style-type: none;
}

.desktop_nav ul {
    /* display: list; */
    flex-direction: row;
    /* display: block; */
    margin: 0 2.5rem;
    padding: 0;

}

.desktop_nav ul li {
    display: inline;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.desktop_nav ul li a:link {
    text-decoration: none;
    color: white;
}

.desktop_nav ul li a:visited {
    text-decoration: none;
    color: white;
}

.desktop_nav ul li:hover {
    background-color: rgb(52, 36, 36);
    border-radius: 10px;
}

.nav_links a {
    color: #0077B5;
    margin-top: 2.5rem;
    transition: font-size 0.3s ease;
    padding-right: 1rem;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
}

.nav_links a:hover {
    font-size: 1.1rem;
}

.dark_mode_button {
    background: transparent;
    border: 0;

}

.dark_mode_button img {
    height: 40px;
    width: 40px;
}

.dark_mode_button img:hover {
    cursor: pointer;
}

/* MAIN PAGE CONTENT */

.index_banner {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    height: 55rem;
    flex-wrap: wrap;

}

.banner_text h1 {
    font-size: 2.5rem;
}

.banner_p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.linkedin_github_links a {
    color: #0077B5;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    transition: font-size 0.3s ease;
    padding-right: 1rem;
    text-decoration: none;
}

.linkedin_github_links a:hover {
    font-size: 1.6rem;
}

.fa_linkedin {
    background-color: #0077B5;
}

.my_portrait {
    border-radius: 50%;
    height: 23rem;
}

/* INDEX INTRO */

.index_intro {
    display: flex;
    height: 40rem;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /*  border: 1px solid red; */

}

.index_intro_text {
    width: 50%;
    font-size: 1.5rem;
}

.intro_photo {
    height: 60%;
    border-radius: 50px;
}

.index_intro_nav {
    display: flex;
    flex-wrap: wrap;

}

.chas_link {
    text-decoration: none;
}

.index_intro_nav a {
    background-color: rgba(102, 76, 76, 0.947);
    color: white;
    padding: 0.3rem;
    border-radius: 10px;
    transition: font-size 0.3s ease;
    text-decoration: none;
    margin-right: 1rem;
}

.index_intro_nav a:hover {
    font-size: 1.6rem;
    background-color: rgb(52, 36, 36);
}

/* PORTFOLIO  */

#music_toggle,
#bank_toggle,
#bakery_toggle,
#recipe_toggle {
    display: none;
}




.modal_content p {
    display: none;

}

.portfolio_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 55rem;

}

.portfolio_content h1 {
    padding: 2.5rem;
    font-size: 50px;
    margin-top: 3rem;
}



.card_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 4.5rem;


}

.card_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 30rem;
    border-radius: 11px;

}


.music_api {
    background-image: url("./portfolio/earphones.jpg");
    background-size: cover;

}

.bank_api {
    background-image: url("./portfolio/piggybank.jpg");
    background-size: cover;


}

.bakery_site {
    background-image: url("./portfolio/cupcake.jpg");
    background-position: center;
    background-size: cover;

}

.recipe_api {
    background-image: url("./portfolio/food.jpg");
    background-position: center;
    background-size: cover;
}

.card_container h2 {
    display: flex;
    /* background-color: rgba(169, 169, 169, 0.538); */
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 11px;
    transition: background-color 0.3 ease;
}

.card_link {
    margin-top: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.567);
    color: inherit;
    border-radius: inherit;
    transition: background-color 0.3 ease;
}

.card_link:hover {
    background-color: black;
}

label {
    background-color: rgba(169, 169, 169, 0.538);
    width: 100%;
    border-radius: 15px;
}

label h2:hover {
    cursor: pointer;
    background-color: rgba(134, 114, 114, 0.971);

}

/* Fade In */

#music_toggle:checked~.music_api #music_modal {
    animation: fadeIn 0.5s ease forwards;
}

#bank_toggle:checked~.bank_api #bank_modal {
    animation: fadeIn 0.5s ease forwards;
}

#bakery_toggle:checked~.bakery_site #bakery_modal {
    animation: fadeIn 0.5s ease forwards;
}

#recipe_toggle:checked~.recipe_api #recipe_modal {
    animation: fadeIn 0.5s ease forwards;
}

/* Fade Out */

#music_toggle:not(:checked)~.music_api #music_modal {
    animation: fadeOut 0.5s ease forwards;
}

#bank_toggle:not(:checked)~.bank_api #bank_modal {
    animation: fadeOut 0.5s ease forwards;
}

#bakery_toggle:not(:checked)~.bakery_site #bakery_modal {
    animation: fadeOut 0.5s ease forwards;
}

#recipe_toggle:not(:checked)~.recipe_api #recipe_modal {
    animation: fadeOut 0.5s ease forwards;
}


#music_modal,
#bank_modal,
#bakery_modal,
#recipe_modal {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    opacity: 0;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.758);
    overflow: hidden;
    border-radius: 11px;

}

/* PORTFOLIO PROJECTS */
/* MUSIC SECTION */

.portfolio_content {
    height: 100%;
    padding-top: 2.5%;
}

.portfolio_info {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

}

.portfolio_info_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.portfolio_info_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 0 2.5rem;
    flex-wrap: wrap;
}

.portfolio_info_text h2 {
    margin-bottom: 16px;
}

.p_1 {
    margin-bottom: 16px;
}

.p_2 {
    margin-bottom: 16px;
}

.portfolio_info_content img {
    width: 50%;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* CV Page */

.cv_h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.cv_content {
    height: 100%;
    padding-top: 9%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
}

.cv_content h1,
.cv_content ul,
.cv_content li,
.cv_content h2 {
    margin-bottom: 16px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 2.5rem;
    flex-wrap: wrap;
}

.skills_header {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.work_experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.work_experience_header {
    display: flex;
    justify-content: center;
}

/* Footer */

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

footer h3,
footer h5 {
    margin: 5px auto;
}



/* PHONE MODE */

@media (max-width: 600px) {

    * {
        overflow-x: hidden;
    }

    header {
        justify-content: space-evenly;

    }

    .nav_links {
        display: none;
    }

    .index_banner {
        margin-top: 5rem;
        text-align: center;
    }

    .index_intro_text {
        text-align: center;
        width: 100%;
    }

    .index_intro_nav {
        padding-bottom: 10rem;

        justify-content: center;
        align-items: center;
    }

    .index_intro_nav a {
        margin-bottom: 0.5rem;
    }

    .intro_photo {
        display: none;
    }

    /* MODAL POPUP */

    .modal_menu {
        display: block;
        position: absolute;
        right: 5%;
        font-size: 25px;
        z-index: 1;
    }

    .desktop_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 100%;
        /* text-align: center; */
        background-color: rgba(0, 0, 0, 0.758);
        overflow: hidden;
        transition: all .5s;

    }

    .desktop_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;


    }

    .desktop_nav li {
        margin-bottom: 2rem;
        background-color: rgb(61, 61, 61);
        ;

    }

    #nav_toggle:checked~.desktop_nav {
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 6em;
        bottom: 0;
    }

    /* PORTFOLIO  */


    .music_api,
    .bakery_site,
    .bank_api,
    .recipe_api {

        margin-bottom: 1rem;
    }

    .portfolio_info {
        /* border: 1px solid red; */
        height: 35rem;
    }

    .portfolio_info_text {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .portfolio_info_content {
        flex-direction: column;

    }

    .portfolio_info_content img {
        display: none;
        position: absolute;
    }

    .card_container div {}
}